.portfolio-stats {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 15px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 9999;
    border: 1px solid #eeeeee;
    box-shadow: 0px 10px 30px #43484B1A;

    &_item {
        border-right: 1px solid rgba(30, 115, 190, 0.2);
        padding: 0;

        &:last-child {
            border-right: none;
        }

        & h6 {
            font-size: 14px;
        }

        &_value {
            color: #D8A76F;
            font-size: 35px;
            font-weight: 700;

            &.green {
                color: #61D389;
            }
        }
    }
}